body {
  margin: 0;
}

.all #section_1 {
  background-image: url("https://global.hurtigruten.com/globalassets/photos/inspiration/northern-lights/hub/aurora-borealis-above-snowy-island-vestvagoya-lofoten_swen-stroop.jpg?width=1900&height=950&transform=DownFill");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.all #section_1 .mask {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.322);
}

.all #section_1 .mask h1 {
  background-color: rgba(255, 255, 255, 0.521);
  padding: 15px;
  color: black;
  font-size: 32px;
  letter-spacing: 10px;
  border-radius: 3px;
}

.all #section_2 .section_2_contents {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.all #section_2 .section_2_contents h2 {
  color: #111111;
  font-size: 24px;
}

.all #section_2 .section_2_contents p {
  color: #777;
  font-size: 16px;
}

.all #section_3 {
  background-image: url("/img/aurora.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
}

.all #section_3 .section_3_mask {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.322);
}

.all #section_3 .section_3_mask p {
  font-size: 24px;
  color: white;
  letter-spacing: 10px;
}

.all #section_4 {
  background-color: #111111;
  padding: 50px 80px;
}

.all #section_4 p {
  color: white;
  font-size: 16px;
}

.all #section_5 {
  background-image: url("/img/aurora-2S.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
}

.all #section_5 .section_5_mask {
  width: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.322);
}

.all #section_5 .section_5_mask p {
  color: white;
  font-size: 24px;
  letter-spacing: 10px;
}

.all #section_6 {
  background-color: #111111;
  padding: 50px 80px;
}

.all #section_6 p {
  color: white;
  font-size: 16px;
}

.all #section_7 {
  width: 100%;
  height: 100vh;
  background-image: url("/img/aurora-3-S.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.all #section_7 .section_7_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.322);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.all #section_7 .section_7_mask p {
  padding: 15px;
  font-size: 32px;
  color: black;
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 3px;
  letter-spacing: 5px;
  font-weight: 600;
}
/*# sourceMappingURL=02-2019-11-26-scss練習.css.map */