
// font color
$font-white:white;
$font-black:black;
$font-darkgray:rgb(17, 17, 17);
$font-gray:#777;

// font size
$size-title:32px;
$size-title_2:24px;
$size-text:16px;

// mask color
$mask-color:rgba(255, 255, 255, 0.322);

// background color of content
$bg-content:rgb(17, 17, 17);
$bg-title:rgba(255, 255, 255, 0.521);


