body{
    margin:0;
}
.all{
    width:100%;
    height: 100vh;
    display:flex;
    background-image: url('https://cdn.pixabay.com/photo/2015/11/02/18/32/water-1018808_960_720.jpg');
    background-size: cover;
    background-position: center;
}
nav{
    width: 300px;
    height: 100vh;
    background-color: rgba(252, 252, 252, 0.438);
}
.logo{
    width: 100px;
    height: 100px;
    background-image: url('https://cdn.pixabay.com/photo/2013/02/10/00/20/humpback-79854_960_720.jpg');
    background-size: cover;
    background-position: center;
    margin:auto;
    margin-top:100px;
    border-radius: 5px
}
nav .menulist{
    margin-top:50px;

}
nav .menulist ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
nav .menulist ul li{
    text-align: center;
    padding:10px 20px;
}
nav .menulist ul li a{
    text-decoration:none;
    color:white;
    font-size:20px;
    padding:10px 100px;
}
nav .menulist ul li a:hover{
    color:blue;
}
nav .menulist ul li:hover{
    background-color:white;
}
nav .menulist ul li:hover a{
    color:blue;
}

.main{
    width:calc(100% - 250px);
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main .photos{
    width:900px;
    height:500px;
    display:flex;
}
.photo1{
    width:300px;
    height:500px;
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/02/19/animal-1866808_960_720.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .photos .photo1:hover{
    width:100%;
    opacity: 1;
    transition: 1s
}

.main .photos .photo1-text{
    font-size:60px;
    color:white;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    display:none;
}
.main .photos .photo1:hover .photo1-text{
    display:block;
}


.photo2{
    width:300px;
    height:500px;
    background-image: url('https://cdn.pixabay.com/photo/2015/01/08/15/48/jellyfish-593157_960_720.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .photos .photo2:hover{
    width:100%;
    opacity: 1;
    transition: 1s
}

.main .photos .photo2-text{
    font-size:60px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    display:none;
}
.main .photos .photo2:hover .photo2-text{
    display:block;
}
.photo3{
    width:300px;
    height:500px;
    background-image: url('https://cdn.pixabay.com/photo/2013/02/09/04/33/sea-79606_960_720.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .photos .photo3:hover{
    width:100%;
    opacity: 1;
    transition: 1s
}

.main .photos .photo3-text{
    font-size:60px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
    display:none;
}
.main .photos .photo3:hover .photo3-text{
    display:block;
}

@media screen and (max-width:1200px){

.main .photos{
    flex-wrap: wrap;
    width:90%;
}
.photo1{
        width:100%;
        height:250px;
        background-color:lightblue; 
}
.main .photos .photo1:hover{
    opacity: 1;
    transform: scale(1.05,1.05);
    transition: 1s;
    position: relative;
    z-index: 5;
}
.photo2{
        width:50%;
        height:250px;
        background-color:lightcoral; 
}
.main .photos .photo2-text{
    font-size:50px;
}

.main .photos .photo2:hover{
    width:50%;
    opacity: 1;
    transform: scale(1.05,1.05);
    transition: 1s;
    position: relative;
    z-index: 5;
}


.photo3{
        width:50%;
        height:250px;
        background-color:lightgreen; 
}
.main .photos .photo3:hover{
    width:50%;
    opacity: 1;
    transform: scale(1.05,1.05);
    transition: 1s;
    position: relative;
    z-index: 5;
}

@media screen and (max-width:375px){
    .main .photos .photo3:hover{
        transform:unset;
    }
}

.main .photos .photo3-text{
    font-size:50px;
}
}

@media screen and (max-width:768px){
.all{
    display: block;
}
nav{
    width:100%;
    height: 100px;
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    box-sizing: border-box;

}
nav .logo{
    margin:0;
    width:80px;
    height: 80px;
    align-self: center;

}
nav .menulist{
    margin:0;
    padding: 0;
    align-self: center;
}
nav .menulist ul{
    display:flex;


}
nav .menulist ul li{
    padding:0
}
nav .menulist ul li a{
    font-size:20px;
    padding:20px 20px;
  
}

.main{
    width:100%;
    height: calc(100vh - 100px);
}

}

@media screen and (max-width:375px){

nav{
    justify-content: center;
    height:80px;
}
nav .menulist{
    background-image: url('https://cdn4.iconfinder.com/data/icons/tupix-1/30/list-512.png');
    background-size: cover;
    background-position: center;
    width:60px;
    height:60px;
    position: absolute;
    left:10px;
    top:10px;
    
}
nav .menulist ul{
    display:none;
    background-color: rgb(0, 174, 255);
    border-radius: 5px;
}
nav .menulist ul li{
    padding:10px 0;
}

nav .menulist ul li a{
    padding:30px 30px;
    
}

nav .menulist:hover ul{
    display:block;

    position: absolute;
    top:60px;
    left:10px;
    z-index: 5;
}

nav .logo{
    width:60px;
    height: 60px;
    order:1
}

.main{
    display:block;
    width:100%

}
.main .photos{
    width: 100%; 
}

.photos .photo2{
    width:100%;
}
.photos .photo3{
    width:100%;
}



}