
    body{
        margin: 0;
        background-color: seashell
    }
    
    h1{
        margin:0;
    }
    #all{
        max-width: 400px;
        margin: 0 auto;
        margin-top:50px;
    }
    #tabs{
        display: flex;
        cursor: pointer;
    }
    .tab{
        padding: 5px 15px;
        margin-right: 5px;
        border-radius: 10px 10px 0 0 ;
        background-color: lightseagreen;
        color:white;
        font-weight: bold;
        transition: 0.3s;
    }
    .tab.active{
        background-color:lightskyblue;
        color:black;
        transition: 0.3s;
    }
    
    .contents{
        background-color:lightskyblue;
        border-radius: 0 10px 10px 10px ;
        padding: 20px;        
        cursor: default;
    }

    /* v2: 優化content 顯示方式：漸變 */
    .content{
        opacity: 0;
        pointer-events: none;
        height: 0;
        overflow: hidden;
        transition: 0.3s opacity;
    }
    .content.active{
        opacity: 1;
        pointer-events: all;
        height: auto;
        overflow: hidden;
        transition: 0.3s opacity;
    }
    #switch_btn{
        margin:20px 0;
        font-weight: 600;
        border-radius: 2px;
        
    }
    #photo{
        max-width: 400px;
        border-radius: 10px;
    }
    